[submodule "NodeSense"]
	path = NodeSense
	url = git@github.com:KostelidisDev/NodeSense.git
[submodule "TempSense"]
	path = TempSense
	url = git@github.com:KostelidisDev/TempSense.git
[submodule "LightSense"]
	path = LightSense
	url = git@github.com:KostelidisDev/LightSense.git
[submodule "GasSense"]
	path = GasSense
	url = git@github.com:KostelidisDev/GasSense.git
[submodule "HomeSense"]
	path = HomeSense
	url = git@github.com:KostelidisDev/HomeSense.git
[submodule "HomeSense-Deployer"]
	path = HomeSense-Deployer
	url = git@github.com:KostelidisDev/HomeSense-Deployer.git
[submodule "HomeSense-Document"]
	path = HomeSense-Document
	url = git@github.com:KostelidisDev/HomeSense-Document.git
[submodule "HomeSense-Presentation"]
	path = HomeSense-Presentation
	url = git@github.com:KostelidisDev/HomeSense-Presentation.git
[submodule "KiCadGrobotronics"]
	path = KiCadGrobotronics
	url = git@github.com:KostelidisDev/KiCadGrobotronics.git
